<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <listener>
    <listener-class>com.huia.servlets.ContextListener</listener-class>
  </listener>
  <welcome-file-list>
    <welcome-file>WelcomePage.jsp</welcome-file>
  </welcome-file-list>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Success</web-resource-name>
      <url-pattern>/myreferencesuser.jsp</url-pattern>
      <url-pattern>/userhome.jsp</url-pattern>
      <url-pattern>/myaccountuser.jsp</url-pattern>
      <url-pattern>/addcv.jsp</url-pattern>
      <url-pattern>/bonusfeature.jsp</url-pattern>
      <url-pattern>/CVContactInformation.jsp</url-pattern>
      <url-pattern>/CVPersonalInformation.jsp</url-pattern>
      <url-pattern>/CVEducationalInfo.jsp</url-pattern>
      <url-pattern>/CVBusinessInfo.jsp</url-pattern>
      <url-pattern>/CVForeignLaguageInfo.jsp</url-pattern>
      <url-pattern>/CVReferenceInfo.jsp</url-pattern>
      <url-pattern>/CVAdditionalInfo.jsp</url-pattern>
      <url-pattern>/CVContactInformationUpdate.jsp</url-pattern>
      <url-pattern>/CVPersonalInformationUpdate.jsp</url-pattern>
      <url-pattern>/CVAdditionalInfoUpdate.jsp</url-pattern>
      <url-pattern>/CVEducationalInfoUpdate.jsp</url-pattern>
      <url-pattern>/CVBusinessInfoUpdate.jsp</url-pattern>
      <url-pattern>/CVForeignLaguageInfoUpdate.jsp</url-pattern>
      <url-pattern>/CVReferenceInfoUpdate.jsp</url-pattern>
      <url-pattern>/UserProfile.jsp</url-pattern>
      <url-pattern>/userTimeLine.jsp</url-pattern>
      <url-pattern>/UserSettings.jsp</url-pattern>
      <url-pattern>/Email.jsp</url-pattern>
      <url-pattern>/Inbox.jsp</url-pattern>
      <url-pattern>/Trash.jsp</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>user</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Success</web-resource-name>
      <url-pattern>/employerhome.jsp</url-pattern>
      <url-pattern>/MapWithAds.jsp</url-pattern>
      <url-pattern>/myadverts.jsp</url-pattern>
      <url-pattern>/myaccount.jsp</url-pattern>
      <url-pattern>/UserProfile.jsp</url-pattern>
      <url-pattern>/userTimeLine.jsp</url-pattern>
      <url-pattern>/addadvert.jsp</url-pattern>
      <url-pattern>/myreferencesemployer.jsp</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>employer</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
    <auth-method>FORM</auth-method>
    <realm-name>JDBCRealm</realm-name>
    <form-login-config>
      <form-login-page>/login.html</form-login-page>
      <form-error-page>/loginerror.html</form-error-page>
    </form-login-config>
  </login-config>
  <security-role>
    <role-name>employer</role-name>
  </security-role>
  <security-role>
    <role-name>user</role-name>
  </security-role>
  <servlet>
    <servlet-name>GetDepartmentIdsJson</servlet-name>
    <servlet-class>com.isedin.servlets.GetDepartmentIdsJson</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDepartmentIdsJson</servlet-name>
    <url-pattern>/GetDepartmentIdsJson/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>com.huia.servlets.GetPhoto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/GetPhoto/*</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>403</error-code>
    <location>/errorpage.jsp</location>
  </error-page>
</web-app>